nav ul a,
nav .brand-logo {
  color: #ffffff;
}

p {
  line-height: 2rem;
}

#logo{
  width:50px;
  height:50px;
  padding-top:15px
}

#menu-icon{
  color: #ffffff;
}

.button-collapse {
  color: #26a69a;
}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 600px) {

}
